src/main/mule/template-sfdc2sfdc-lead-migration.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<salesforce:sfdc-config name="Salesforce_Sfdc_A_config"
		doc:name="Salesforce Sfdc config" doc:id="38a0808d-8f32-4c87-a763-4db431b3c4cd">
		<salesforce:basic-connection 
			username="${sfdc.a.username}"
			password="${sfdc.a.password}" 
			securityToken="${sfdc.a.securityToken}"
			url= "${sfdc.a.url}" />
	</salesforce:sfdc-config>
	<salesforce:sfdc-config name="Salesforce_Sfdc_B_config"
		doc:name="Salesforce Sfdc config" doc:id="3d4eabb0-83f2-4e02-97e1-77c5417347f7">
		<salesforce:basic-connection 
			username="${sfdc.b.username}"
			password="${sfdc.b.password}" 
			securityToken="${sfdc.b.securityToken}"
			url= "${sfdc.b.url}" />
	</salesforce:sfdc-config>
	<tls:context name="TLS_Context" doc:name="TLS Context" doc:id="322debdf-e869-4294-8d83-e47f7376cbe8" >
		<tls:trust-store insecure="true" />
	</tls:context>
	<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="7b0a7d4a-d12d-436a-b8ea-f4c9b77f381c" >
		<email:smtps-connection 
			host="${smtp.host}" 
			port="${smtp.port}" 
			user="${smtp.user}" 
			password="${smtp.password}" 
			tlsContext="TLS_Context" />
	</email:smtp-config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3885a11b-2cbb-43ca-a34d-ca02fca25e54" >
		<http:listener-connection 
			host="0.0.0.0" 
			port="${http.port}" />
	</http:listener-config>
	
	<configuration-properties doc:name="Configuration properties" doc:id="c9163724-ef17-4160-9270-1ed94dc7f102" file="common.properties" />
	<configuration-properties doc:name="Configuration properties" doc:id="995ad771-f6d6-4154-94b5-527ace6350c1" file="mule.${mule.env}.properties" />
	<flow name="template-sfdc2sfdc-lead-migrationFlow" doc:id="32215718-08af-4f29-91bd-54cb5b97dcef" >
		<http:listener config-ref="HTTP_Listener_config" path="/syncleads" doc:name="Listener" doc:id="23d52a98-cc66-4d13-8c24-43b6aaffd0de" />
		<salesforce:query config-ref="Salesforce_Sfdc_A_config" doc:name="Query Leads from Salesforce instance A" doc:id="ebcf71a8-3192-4437-b2cb-b23f008afae5">
			<salesforce:salesforce-query>SELECT Title,Email,FirstName,LastModifiedDate,LastName,Name, Company, Status FROM Lead WHERE Email &lt;&gt; '' ORDER BY Email ASC</salesforce:salesforce-query>
		</salesforce:query>
		<batch:job jobName="migrateLeadsBatch" doc:id="204892ae-0d97-4326-beae-310c8d52b7a6" >
			<batch:process-records >
				<batch:step name="getLeadInBStep" doc:id="89713774-362a-4e92-9bdc-41e31802bf38" >
					<salesforce:query-single config-ref="Salesforce_Sfdc_B_config" doc:name="Query Lead in Salesforce instance B" doc:id="e828fbe5-8917-4833-a479-8df69b560884" target="Id">
						<salesforce:salesforce-query>SELECT Id FROM Lead WHERE Email = ':email'</salesforce:salesforce-query>
						<salesforce:parameters ><![CDATA[#[output applicaton/java
---
{
	"email" : payload.Email
}]]]></salesforce:parameters>
					</salesforce:query-single>
					<ee:transform doc:name="Enrich Payload with Id" doc:id="c119f87d-9095-4962-b961-efe507b06a0c" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload ++ vars.Id]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</batch:step>
				<batch:step name="upsertLeadsInBStep" doc:id="78a74ab4-9b91-416d-985a-acda2ac377eb">
					<batch:aggregator doc:name="Batch Aggregator" doc:id="1ad86a98-643e-494a-a90a-32daab0b03cc" size="${page.size}">
						<ee:transform doc:name="Prepare properties for upsert" doc:id="d484063f-6d81-42ce-98ef-7cec51b04672" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map {
	($ - 'type' - 'Name' - 'LastModifiedDate')
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<salesforce:upsert doc:name="Upsert leads in Salesforce instance B" doc:id="0ab7ee5b-45d1-4192-813a-dea1efae2e8b" config-ref="Salesforce_Sfdc_B_config" externalIdFieldName="Id" type="Lead"/>
					
</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete>
				<scatter-gather doc:name="Scatter-Gather" doc:id="ef2964ef-0b85-4c6c-a5ee-b834df639e7b" >
					<route >
						<logger level="INFO" doc:name="Migration process has finished!" doc:id="b7575d38-7dbd-4602-9186-1bbb25234896" message="Migration process has finished!" />
					</route>
					<route >
						<ee:transform doc:name="Prepare migration result email" doc:id="c84b4bc4-5a65-41c1-9d0c-f1ebd3d8db7a" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output text/plain
---
"Migration Report: \n"
 
++ "\n Time [milliseconds]: " 		++ payload.elapsedTimeInMillis
++ "\n Total Records: "				++ payload.totalRecords
++ "\n Successful Records: "		++ payload.successfulRecords
++ "\n Failed Records: "			++ payload.failedRecords
++ "\n Loaded Records: "			++ payload.loadedRecords
++ "\n Processed Records: " 		++ payload.processedRecords]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<email:send config-ref="Email_SMTP" doc:name="Send email" doc:id="5896eaa9-dd10-47a2-a6fc-6319b11dbd06" fromAddress="${mail.from}" subject="${mail.subject}" >
							<email:to-addresses >
								<email:to-address value="${mail.to}" />
							</email:to-addresses>
						</email:send>
					</route>
				</scatter-gather>
			</batch:on-complete>
		</batch:job>
		<set-payload value="Migration process has started!" doc:name="Set Payload" doc:id="ed424ae3-63c0-4e57-89d8-635beaf63362" mimeType="text/html"/>
	
	</flow>

</mule>
